<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Letterpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Letterpress.Properties.Settings>
            <setting name="bluePoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="redPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text00" serializeAs="String">
                <value />
            </setting>
            <setting name="text01" serializeAs="String">
                <value />
            </setting>
            <setting name="text02" serializeAs="String">
                <value />
            </setting>
            <setting name="text03" serializeAs="String">
                <value />
            </setting>
            <setting name="text04" serializeAs="String">
                <value />
            </setting>
            <setting name="text10" serializeAs="String">
                <value />
            </setting>
            <setting name="text11" serializeAs="String">
                <value />
            </setting>
            <setting name="text12" serializeAs="String">
                <value />
            </setting>
            <setting name="text13" serializeAs="String">
                <value />
            </setting>
            <setting name="text14" serializeAs="String">
                <value />
            </setting>
            <setting name="text20" serializeAs="String">
                <value />
            </setting>
            <setting name="text21" serializeAs="String">
                <value />
            </setting>
            <setting name="text22" serializeAs="String">
                <value />
            </setting>
            <setting name="text23" serializeAs="String">
                <value />
            </setting>
            <setting name="text24" serializeAs="String">
                <value />
            </setting>
            <setting name="text30" serializeAs="String">
                <value />
            </setting>
            <setting name="text31" serializeAs="String">
                <value />
            </setting>
            <setting name="text32" serializeAs="String">
                <value />
            </setting>
            <setting name="text33" serializeAs="String">
                <value />
            </setting>
            <setting name="text34" serializeAs="String">
                <value />
            </setting>
            <setting name="text40" serializeAs="String">
                <value />
            </setting>
            <setting name="text41" serializeAs="String">
                <value />
            </setting>
            <setting name="text42" serializeAs="String">
                <value />
            </setting>
            <setting name="text43" serializeAs="String">
                <value />
            </setting>
            <setting name="text44" serializeAs="String">
                <value />
            </setting>
            <setting name="color00" serializeAs="String">
                <value />
            </setting>
            <setting name="color01" serializeAs="String">
                <value />
            </setting>
            <setting name="color02" serializeAs="String">
                <value />
            </setting>
            <setting name="color03" serializeAs="String">
                <value />
            </setting>
            <setting name="color04" serializeAs="String">
                <value />
            </setting>
            <setting name="color10" serializeAs="String">
                <value />
            </setting>
            <setting name="color11" serializeAs="String">
                <value />
            </setting>
            <setting name="color12" serializeAs="String">
                <value />
            </setting>
            <setting name="color13" serializeAs="String">
                <value />
            </setting>
            <setting name="color14" serializeAs="String">
                <value />
            </setting>
            <setting name="color20" serializeAs="String">
                <value />
            </setting>
            <setting name="color21" serializeAs="String">
                <value />
            </setting>
            <setting name="color22" serializeAs="String">
                <value />
            </setting>
            <setting name="color23" serializeAs="String">
                <value />
            </setting>
            <setting name="color24" serializeAs="String">
                <value />
            </setting>
            <setting name="color30" serializeAs="String">
                <value />
            </setting>
            <setting name="color31" serializeAs="String">
                <value />
            </setting>
            <setting name="color32" serializeAs="String">
                <value />
            </setting>
            <setting name="color33" serializeAs="String">
                <value />
            </setting>
            <setting name="color34" serializeAs="String">
                <value />
            </setting>
            <setting name="color40" serializeAs="String">
                <value />
            </setting>
            <setting name="color41" serializeAs="String">
                <value />
            </setting>
            <setting name="color42" serializeAs="String">
                <value />
            </setting>
            <setting name="color43" serializeAs="String">
                <value />
            </setting>
            <setting name="color44" serializeAs="String">
                <value />
            </setting>
        </Letterpress.Properties.Settings>
    </userSettings>
</configuration>